<template>
    <div class="container">
        <h2 class="text-center">ระบบบันทึกข้อมูล</h2>
        <form action="/users">
            <div class="form-group">
                <label>ชื่อ :</label>
                <input type="text" class="form-control" v-model="name">
            </div>
            <div class="form-group">
                <label>จังหวัด :</label>
                <input type="text" class="form-control" v-model="city">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" v-on:click="saveData">เพิ่มข้อมูล</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "CreateComponent",
        methods:{
            saveData(){
                axios.post('/api/users', {
                    name : this.name,
                    city : this.city
                });
            }
        },
        data(){
            return {
                name: '',
                city: ''
            }
        }
    }
</script>
