<template>
    <div class="container">
        <h2 class="text-center">ระบบแก้ไขข้อมูล</h2>
        <form action="/users">
            <div class="form-group">
                <label>ชื่อ :</label>
                <input type="text" class="form-control" v-model="user.name">
            </div>
            <div class="form-group">
                <label>จังหวัด :</label>
                <input type="text" class="form-control" v-model="user.city">
            </div>
            <div class="form-group">
                <button class="btn btn-primary" v-on:click="updateUserData">แก้ไขข้อมูล</button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        name: "EditComponent",
        props:['id'],
        data(){
            return {
                user: {
                    'name' : '',
                    'city' : ''
                }
            }
        },
        mounted() {
            axios.get('/api/users/'+this.id).then(response => {
                this.user = response.data;
            });
        },
        methods: {
            updateUserData() {
                axios.put('/api/users/'+this.id, {
                    name: this.user.name,
                    city: this.user.city
                });
            }
        }
    }
</script>
