<template>
    <div class="container">
        <h2 class="text-center">แสดงข้อมูล</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="5"><a href="/users/create" class="btn btn-primary">Create</a></th>
            </tr>
            <tr>
                <th>รหัส</th>
                <th>ชื่อ</th>
                <th>จังหวัด</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(user, index) in users">
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.city }}</td>
                <td><a :href="'/users/'+user.id+'/edit/'" class="btn btn-primary">Edit</a></td>
                <td><a href="javascript:;" class="btn btn-danger" v-on:click="deleteUserData(user.id, index)">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "UserComponent",
        mounted() {
            this.getUserData();
        },
        methods:{
            getUserData() {
                axios.get('/api/users').then(response => {
                    this.users = response.data;
                });
            },
            deleteUserData(id, index) {
                axios.delete('/api/users/'+id).then(response => {
                    this.users.splice(index,1);
                });
            }
        },
        data() {
            return {
                users:[],
                user:{
                    id : 0,
                    name : '',
                    city : ''
                }
            }
        }
    }
</script>

<style scoped>

</style>
